.show-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: auto;

  h1 {
    align-self: center;
  }

  .booking-details {
    display: flex;
    align-self: center;
    flex-direction: column;
  }
}
