.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  
  h1{
    font-weight: 400
  }
  
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;  
    list-style-position: inside;
    padding: 0;
  
    li {
      margin: .5rem 0 0 0;
      font-size: 1.15rem;
      padding: .5rem 0 0 0;
       
      input[type='radio'] {
        transform: scale(2);
        vertical-align: middle;
        margin-right: .15rem;
      }
    }
    
    form {
      display: flex;
      justify-content: center;
    input {
      border-radius: .25rem;
      border: none;
      font-size: 1rem;
      height: 2.333333333rem;
      margin: .5rem 0;
      padding: .5rem;
      color: #FFF;
      align-self: center;
      background-color: dodgerblue;
    }
  }
  }
}


